/* Spoiler Tags */
/* ===================================================== */
.spoiler-content {
    background-color: black;
    color: black;
    cursor: pointer;
    padding: 0px 4px 4px 4px;
    border-radius: 5px;
}

.spoiler-content:hover {
    color: white;
}

/* Resizable Chat Box */
/* ===================================================== */
main form > div > div.flex.w-full.items-center > div.flex {
    transform: rotateX(180deg);
    resize: vertical !important;
    overflow: auto !important;
}

textarea#prompt-textarea {
	transform: rotateX(180deg);
	border: 1px solid #505262;
	max-height: 80vh !important;
	overflow-y: scroll !important;
}

